{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="/" method="GET">
        <div class="container">
            <div class="row">
                 <div class="border border-dark">
                    <h2>Wybierz interesujące Cię kursy</h2>
                </div>
            </div>
            <div class="row">
                 <div class="form-group mb-5 training_form p-2 rounded">
                    <div class="d-flex">
                        {% for c in courses %}
                            <div class="bg-dark d-flex flex-row align-items-center justify-content-center mr-1 p-1 rounded">
                                <input type="checkbox" id="{{ c[0] }}" name="{{ c[0] }}">
                                <label class="m-0 ml-2" for="{{ c[0] }}">{{ c[1] }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="border border-dark">
                    <h2>Zaznacz godziny, które Ci odpowiadają</h2>
                </div>
            </div>
            <div class="row">
                {% for day in days %}
                    <div class="form-group mr-1 training_form p-2 rounded">
                        <div class="">
                            <div>
                                <h3>{{ day[1] }}</h3>
                            </div>
                            <div>
                                {% for key, value in hours.items() %}
                                    <div class="bg-dark d-flex flex-row align-items-center justify-content-center m-1 p-1 rounded">
                                        <input type="checkbox" id="{{ day[0] }}-{{ key }}" name="{{ day[0] }}-{{ key }}">
                                        <label class="m-0 ml-1" for="{{ day[0] }}-{{ key }}">{{ value }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <input type="submit" value="wyślij preferencje">
    </form>

    <a href="{{ url_for('users.logout') }}", class="default-link">
        <div class="d-flex flex-row align-items-center justify-content-center p-2 header-button">
            <p class="header-text m-0">Wyloguj</p>
        </div>
    </a>
    <a href="{{ url_for('users.request_delete') }}", class="default-link">
        <div class="d-flex flex-row align-items-center justify-content-center p-2 header-button bg-danger">
            <p class="header-text m-0">Usun konto</p>
        </div>
    </a>
</div>
{% endblock content %}