{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="/" method="GET">
        <div class="d-flex flex-col flex-wrap">
            <div class="form-group d-flex">
                <div>
                    <h2>Wybierz interesujące Cię kursy</h2>
                </div>
                <div>
                    {% for c in courses %}
                        <input type="checkbox" id="{{ c[0] }}" name="{{ c[0] }}">
                        <label for="{{ c[0] }}">{{ c[1] }}</label>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="border border-dark">
                <h2>Zaznacz godziny które Ci odpowiadają</h2>
            </div>
                {% for day in days %}
                    <div class="form-group">
                        <h3>{{ day[1] }}</h3>
                        {% for key, value in hours.items() %}
                            <input type="checkbox" id="{{ day[0] }}-{{ key }}" name="{{ day[0] }}-{{ key }}">
                            <label for="{{ day[0] }}-{{ key }}">{{ value }}</label>
                        {% endfor %}
                    </div>
                {% endfor %}

        </div>
        <input type="submit">
    </form>

    <a href="{{ url_for('users.logout') }}", class="default-link">
        <div class="d-flex flex-row align-items-center justify-content-center p-2 header-button">
            <p class="header-text m-0">Wyloguj</p>
        </div>
    </a>
    <a href="{{ url_for('users.request_delete') }}", class="default-link">
        <div class="d-flex flex-row align-items-center justify-content-center p-2 header-button bg-danger">
            <p class="header-text m-0">Usun konto</p>
        </div>
    </a>
</div>
{% endblock content %}